.grupo-image {
  max-width: 200px;
  min-width: 200px;
  min-height: 200px;
  img {
    border-radius: 100%;
    padding: 16px;
    width: 200px;
    height: 200px;
  }
}

.card-grupo-adm {
  margin: 5px 0px;
  display: inline-flex;
  width: 100%;
}

.card-grupo-adm {
  // padding:
}

.card-grupo-info {
  margin: 2px 5px 2px 18px;
  h2 {
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
  }
}

.card-grupo-control {
  width: 10%;
  margin: 0px 0px 0px 10px;
  i {
    width: 20px;
    height: 20px;
  }
}

.grupo-user-info {
  border: solid 1px #bababa8a;
  margin: 3px 0px;
  align-items: center;
  border-radius: 20px;
}

.card-grupo-user-imagem {
  margin: 7px 11px  !important;
}
