.menu {
  padding: 45px 30px;
  background-color: $light-white;
  height: 100vh;
  position: fixed;
}

.page-container {
  padding: 30px;
}

.flex {
  @include flexbox();
}

.align-center {
  @include align-items(center);
}

.flex-direction-column {
  @include flex-direction(column);
  display: flex;
}

.align-flex-end {
  @include align-items(flex-end);
}

.align-flex-start {
  @include align-items(flex-start);
}

.justify-center {
  @include justify-content(center);
}

.justify-flex-start {
  @include justify-content(flex-start);
}

.justify-flex-end {
  @include justify-content(flex-end);
}

.justify-space-between {
  @include justify-content(space-between);
}

.justify-space-around {
  @include justify-content(space-around);
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0px;
}
