// Flexbox display
@mixin shadow() {
  box-shadow: 3px 3px 11px 0px rgba(155, 152, 152, 0.45);
}

.avatar-image {
  display:-webkit-box;
  max-width: 81px;
  margin: 20px;
  img {
    border-radius: 100%;
    border: solid 2px #bababa;
  }
}

.user-descricao{
  margin: 28px 0px 0px 10px;
  span {
    color: #8e8e8e;
  }
  h4 {
    font-size: 1.4em;
  }
}

.user-avatar-ticket {
  padding: 3px 0px 0px 26px;
  display:-webkit-box;
  margin: inherit;
}

.ticket-titulo {
  margin:11px 15px 12px 15px;
  h3 {
    font-size: 2.2em;
  }
}

.ticket-descricao {
  padding: 12px !important ;
  .ticket-descricao-texto {
    h3 {
      font-size: 1.5rem;
      font-family: initial;
    }
    span {
      color: #b6b6b6;
      font-size: 1.3em;
    }
    p {
      margin: 15px 0px;
      font-size: 1.1em;
    }
  }
}

.label-select-ticket {
  font-size: 0.8em;
    color: #8e8e8e;
}

.ticket-controle {
  display:  inline-flex;
  margin: 4px 0px 17px 0px;
  p {
    flex: 1 1 auto;
    margin: 2px 3px 0px 3px;
  }
}

.full-width-select {
 p {
  span {
    width: 100%;
    select {
      width: 100%;
    }
  }
 }
}

.card-style {
  padding: 6px;
  @include shadow();
  border: solid 1px #d0d0d0d6;
}

.ticket-cliente-info {
  display: inline-flex;
  span {
    align-self: center;
  }
}

.ticket-info {
  margin: 4px 0px 4px 0px;
}

.ticekt-responsavel-info {
  margin: 4px 0px 4px 0px;
}

.ticket-historico-info {
  margin: 4px 0px 4px 0px;
}
