.filtros_select {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.internal_select {
  margin: 2px 10px;
}
.lista-ticket {
  width: 100%;
  span{
        font-size: 2rem;
  }
  div{
    align-items: center;
    h4{

    }
  }
}
