// COLOR FROM ASSETS PANEL
$white: rgba(255,255,255,1);
$light-white: rgba(225,225,225,1);
$dark-white: rgba(214,214,214,1);
$platinum: rgba(198,198,198,1);
$light-gray: rgba(132,132,132,1);
$gray: rgba(112,112,112,1);
$dark-gray: rgba(88,88,88,1);
$black: rgba(0,0,0,1);
$yellow: rgba(248,233,103,1);
$red: rgba(226,104,90,1);
$blue: rgba(97,157,235,1);
$green: rgba(75,194,87,1);
$purple: rgba(105,91,204,1);
